body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: right;
}

.d_top {
    flex: 1;
    width: 100%;
    height: calc(100% / 8);
    background-color: #6ec1f8; 
    border-bottom: 2px solid #070707; 
    box-sizing: border-box; 
    color: #333; 
    font-size: 24px; 
    font-family: Arial, sans-serif; 
}

#student_id {
    color: rgb(0, 0, 0); 
    font-size: 30px; 
}

#student_name {
    color: rgb(0, 0, 0); 
    font-size: 30px; 
}

.bottom {
    flex: 3;
    width: 100%;
    display: flex;
}

.d_left {
    flex: 1;
    height: 100x;
    width: calc(100 / 4);
    align-items: center;
    padding-left: 20px;
    background-color: #92f7f2; 
    border-right: 2px solid #000000; 
    box-sizing: border-box; 
}


.d_right {
    flex: 3;
    background-color: #3bc6fd; 
    align-items: center;
    font-family: Arial, sans-serif; 
    text-align: center;
    justify-content: center;
    align-items: center;
}



#background_name {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

#student_id, #student_name {
    text-align: right;
}

#button1, #button2 {
    margin: 8px;
    padding: 8px 8px; 
    font-size: 16px;
    background-color: #b8c7bd;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    border: none;
    border-radius: 0;
}






